
body {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  width: 50%;
  padding:.5em;
}

select{
  font-size: 1.5em;
}

ul {

}

h2 {
  margin-top: 1.5em;
}

h1 {
  font-size: 3em;

}

.header-bar {
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 1em;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: black;
    color: yellow;

  }
a:link, :visited{
  color:yellow;
  text-decoration: none;
}

h3 {
  font-size: 2em;
  font-style: italic;
}